body {
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    max-width: 1024px;
    background-color: #7aff0033;
    border: 1px solid #111111;
    border-radius: 6px;
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
}
h3.main-title {
    margin-left: auto;
    margin-right: auto;
    width: 6em;
}
.header-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 14em;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.contact_icon {
    flex: 0 1 auto;
    padding: 0.5rem;
}
.email {
    text-align: center;
}
a {
    text-decoration: none;
}
